<div style="background-color: #78E8A3; padding: 20px">
<h3>Project Scenario</h3>
<p>You work in a university's health and wellness center.</p>
<p>Mental health is an area that is severely neglected, and can have very serious ramifications such as student self-harm and depression.</p> 
<p>You are determined to identify students at risk using data so you can help them as early as possible.</p>
<p>In this project, you will explore a dataset obtained from foreign students studying in a Japanese university.</p> 
</div>

### Step 1: Download the dataset and read the research publication
The dataset we are working with comes from the research of Nguyen et al (2019), where the authors obtained a record of 268 questionaire results of depression, acculturative stress, social connectedness, and help-seeking behaviour by a cohort of local and international students.

More details <a href = 'https://www.mdpi.com/2306-5729/4/3/124/htm'>here</a>.

Download the data <a href = 'https://www.mdpi.com/2306-5729/4/3/124/s1'>here</a> and unzip the file in your project folder.

We highly recommend reading Tables 1 and 2 in the publication to understand what the headers in your dataset mean, and we will refer to it from time to time.

### Step 2: Import pandas
Let's import pandas to read the data unzipped from the file you downloaded.

In [1]:
# Step 2: Import pandas
import pandas as pd

### Step 3: Read CSV as DataFrame
Now that you've import the library, go ahead and read the CSV as a DataFrame

Make sure you have your variable alone in the last line of your code cell so you can preview your DataFrame.

In [10]:
# Step 3: Read CSV as DataFrame
df = pd.read_csv("data.csv")
df

    inter_dom Region  Gender  ... Alone_bi  Others_bi  Internet_bi
0       Inter    SEA    Male  ...       No         No           No
1       Inter    SEA    Male  ...       No         No           No
2       Inter    SEA    Male  ...       No         No           No
3       Inter     EA  Female  ...       No         No           No
4       Inter     EA  Female  ...       No         No           No
..        ...    ...     ...  ...      ...        ...          ...
281       NaN    NaN     NaN  ...      NaN        NaN          NaN
282       NaN    NaN     NaN  ...      NaN        NaN          NaN
283       NaN    NaN     NaN  ...      NaN        NaN          NaN
284       NaN    NaN     NaN  ...      NaN        NaN          NaN
285       NaN    NaN     NaN  ...      NaN        NaN          NaN

[286 rows x 50 columns]

### Step 4: Investigate what's wrong with the CSV
Wait a minute - if you displayed your DataFrame, you might have noticed something. The DataFrame you just read has a lot of missing data at the end. What's going on?

Take a better look at your DataFrame, more specifically the last few rows. There are two ways to do it:
1. Open your file in Excel and take a look
2. Use the .tail method of your DataFrame, and look at the last 20 rows

In [11]:
# Step 4: Use .tail to see what's up with the last 20 rows
df.tail(20)

    inter_dom Region Gender Academic  ...  religion_bi  Alone_bi  Others_bi Internet_bi
266       Dom    JAP   Male    Under  ...           No        No         No          No
267       Dom    JAP   Male    Under  ...           No       Yes         No          No
268       NaN    NaN    NaN      NaN  ...          NaN       NaN        NaN         NaN
269       NaN    NaN    NaN      NaN  ...           19        65         21          45
270       NaN    NaN    NaN      NaN  ...          249       203        247         223
271       NaN    NaN    NaN      NaN  ...          NaN       NaN        NaN         NaN
272       NaN    NaN    NaN      NaN  ...           19        65         21          45
273       NaN    NaN    NaN      NaN  ...          249       203        247         223
274       NaN    NaN    NaN      NaN  ...          NaN       NaN        NaN         NaN
275       NaN    NaN    NaN      NaN  ...          NaN       NaN        NaN         NaN
276       NaN    NaN    NaN      NaN  ...          NaN       NaN        NaN         NaN
277       NaN    NaN    NaN      NaN  ...          NaN       NaN        NaN         NaN
278       NaN    NaN    NaN      NaN  ...          NaN       NaN        NaN         NaN
279       NaN    NaN    NaN      NaN  ...          NaN       NaN        NaN         NaN
280       NaN    NaN    NaN      NaN  ...          NaN       NaN        NaN         NaN
281       NaN    NaN    NaN      NaN  ...          NaN       NaN        NaN         NaN
282       NaN    NaN    NaN      NaN  ...          NaN       NaN        NaN         NaN
283       NaN    NaN    NaN      NaN  ...          NaN       NaN        NaN         NaN
284       NaN    NaN    NaN      NaN  ...          NaN       NaN        NaN         NaN
285       NaN    NaN    NaN      NaN  ...          NaN       NaN        NaN         NaN

[20 rows x 50 columns]

### Step 5: Remove the weird rows
When you check the data out - in Step 5 - you will see that there are random values at the bottom of the file that led to the many NaNs that you see at the bottom row.

Remove the last 18 rows, making sure that your resultant DataFrame has only <strong>268 rows x 50 columns</strong>.

There are many ways to do it, and here are some suggestions:
1. Slice the DataFrame (be careful about selecting the right index)
2. Drop NaN, using inter_dom as your subset reference column
3. Opening your CSV in Excel and deleting those values directly (make sure you redo Step 4 before going to Step 7)

In [12]:
# Step 5: Remove the last 18 rows
df = df[:-18]
df.tail()

    inter_dom Region  Gender  ... Alone_bi  Others_bi  Internet_bi
263       Dom    JAP  Female  ...       No         No          Yes
264       Dom    JAP  Female  ...       No         No           No
265       Dom    JAP  Female  ...       No         No           No
266       Dom    JAP    Male  ...       No         No           No
267       Dom    JAP    Male  ...      Yes         No           No

[5 rows x 50 columns]

### Step 6: Find the total number of missing values in each column
Now that we've a cleaner DataFrame, let's sum up the null values in each column. 

This is so that we can assess whether we need to clean the DataFrame some more.

<strong>Hint: Google "count missing values in each column pandas"</strong>

In [13]:
# Step 6: Count total of missing values in the DataFrame
df.isna().sum()

inter_dom           0
Region              0
Gender              0
Academic            0
Age                 0
Age_cate            0
Stay                0
Stay_Cate           0
Japanese            0
Japanese_cate       0
English             0
English_cate        0
Intimate            8
Religion            0
Suicide             0
Dep                 0
DepType             0
ToDep               0
DepSev              0
ToSC                0
APD                 0
AHome               0
APH                 0
Afear               0
ACS                 0
AGuilt              0
AMiscell            0
ToAS                0
Partner             0
Friends             0
Parents             0
Relative            0
Profess             0
 Phone              0
Doctor              0
Reli                0
Alone               0
Others              0
Internet           26
Partner_bi          0
Friends_bi          0
Parents_bi          0
Relative_bi         0
Professional_bi     0
Phone_bi            0
Doctor_bi           0
religion_bi         0
Alone_bi            0
Others_bi           0
Internet_bi         0
dtype: int64

### Step 7: Replace the missing values with median
Seems like only one column has missing values. It's not a lot, i.e. around 10% of the total number of rows, so you can just go ahead and replace the NaN with the median. 

Replace the missing values in 'Internet' column with the median of the column.

<strong>Hint: Google "replace nan with median pandas column"</strong>

In [16]:
# Step 7: Replace missing values in 'Internet' with median
df = df.fillna(df.median())

### Step 8: Check missing values again
Just repeat Step 7 to see if your replacement worked.

In [17]:
# Step 8: Check missing values in DataFrame
df.isna().sum()

inter_dom          0
Region             0
Gender             0
Academic           0
Age                0
Age_cate           0
Stay               0
Stay_Cate          0
Japanese           0
Japanese_cate      0
English            0
English_cate       0
Intimate           8
Religion           0
Suicide            0
Dep                0
DepType            0
ToDep              0
DepSev             0
ToSC               0
APD                0
AHome              0
APH                0
Afear              0
ACS                0
AGuilt             0
AMiscell           0
ToAS               0
Partner            0
Friends            0
Parents            0
Relative           0
Profess            0
 Phone             0
Doctor             0
Reli               0
Alone              0
Others             0
Internet           0
Partner_bi         0
Friends_bi         0
Parents_bi         0
Relative_bi        0
Professional_bi    0
Phone_bi           0
Doctor_bi          0
religion_bi        0
Alone_bi           0
Others_bi          0
Internet_bi        0
dtype: int64

### Step 9: Export cleaned DataFrame as CSV
Now that you've done some cleaning up and filled in missing values, it's time to export the DataFrame as a CSV.

In [19]:
# Step 9: Export DataFrame as CSV
df.to_csv("part1_data.csv", index = False)

### End of Part I
We've now come to the end of the first Part of the project. In this part you retrieve the data for this project, and then cleaned it up by removing unnecessary rows of data and filled in missing data. 

In the next Part, we will perform some exploratory data analysis and test several hypotheses.